<%- include('./layouts/header.ejs')  %>

    <div class="container">
        <h5> Forget Password</h5>
        <form action="" method="POST">
            <input type="email" name="email" required placeholder="Enter Your Email">
            <input type="submit" value="Reset Password">
        </form>

        <% 
            if(typeof message!=='undefined') {
                %> 
                    <p> <%= message %> </p>
                <%
            }
        %>


    </div>

<%- include('./layouts/footer.ejs')  %>