<%- include('./layouts/header.ejs') %>

    <div class="container">
        <h1>Reset Password</h1>
        <form action="" method="POST">
            <input type="password" required name="password" placeholder="Enter your new password">
            <input type="hidden" name="user_id" value="<%= user_id%>">
            <input type="submit" value="Reset Password">
        </form>
    </div>

<%- include('./layouts/footer.ejs') %>

